extends _layout.pug

block content
    article
        h1 This is a Sample Article (h1)

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit in eligendi voluptates qui ducimus officia consequuntur nam, optio eaque? Sint, optio repudiandae illo voluptatibus aspernatur dolores impedit dolorum ipsam enim #[a(href="#") expedita consequatur] delectus commodi veniam, neque blanditiis suscipit eius nulla, nostrum dolor iure? Mollitia.

        h2 This is an h2

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus #[strong deserunt sint possimus], dignissimos, atque mollitia debitis non vero voluptatem reiciendis hic beatae.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit alias impedit fugiat obcaecati voluptate error non iste omnis illo, tempora iusto expedita odio ut, sit, quasi aspernatur sunt quibusdam excepturi adipisci molestiae explicabo sint.

        blockquote This is some quoted material that represents something someone said once.

        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, doloribus iusto tempora voluptatibus maiores laudantium officia adipisci repudiandae, temporibus corporis, hic repellendus deserunt eligendi at. Excepturi explicabo illo consequuntur optio, quaerat odit fugiat, provident est sequi laboriosam possimus qui amet velit architecto obcaecati ex. At, totam eligendi ipsam sequi minima deleniti numquam itaque architecto nulla quaerat.

        h2 Another h2

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, nam. Ullam debitis aperiam temporibus quod quisquam totam illo, veniam culpa hic voluptas. Pariatur iure cupiditate facere nulla excepturi distinctio ratione, totam architecto quisquam!

        h3 Tertiary header

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus recusandae atque, deleniti. Ipsam dolorem consequatur qui atque error beatae eius laudantium consectetur natus debitis expedita, asperiores, suscipit. Tenetur, explicabo, repudiandae!

        ul
            li The first point.
            li Another point goes here.
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae in quaerat.
        
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed amet, cupiditate? Corporis aspernatur ratione nulla consequuntur distinctio asperiores minus, quia!
        
        h4 Header h4

        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, possimus dicta magni ab inventore. Mollitia ad animi sed, voluptates, a dolores. Repellendus hic eligendi eos distinctio ipsam mollitia optio minus quae ad voluptate.
