extends _layout.pug

block content
    article
        h1 Recipes

        ul.RecipeList
            li
                a(href="recipes/sample.html") Sample
            li
                a(href="recipes/ciabatta.html") Ciabatta
            li
                a(href="recipes/buttermilk-biscuits.html") Buttermilk Biscuits
