extends _layout.pug

block content
    article
        h1 Recipes

        p Hi. I'm Chad Altemose and this site contains recipes I've saved from a variety of sources. This site lists recipes simply and cleanly so when I need them for cooking I can view them free from distractions and advertising. 

        p
            | Use the 
            | 
            a(href=`${root}recipes/`) recipes
            | 
            | link to view a list of all recipes.

        p
            | Use the 
            | 
            a(href=`${root}tags/`) tags
            | 
            | link to view a list of tags which you can use to view recipes filtered by tag.