extends ../_layout.pug

block title
    title Recipe List

block content
    article
        h1 Recipes

        ul.RecipeList
            each recipe in recipes
                li
                    a(href=`/recipes/${recipe.slug}.html`)= recipe.label
