extends ../_layout.pug

block title
    title Recipe List

block content
    article
        h1 Recipes

        each letterRecipes, letter in recipes
            h2= letter
            ul.RecipeList
                each recipe in letterRecipes
                    li
                        a(href=`${root}recipes/${recipe.slug}.html`)= recipe.label
