extends ../_layout.pug

block title
    title Recipes | 

block content
    article.Recipe
        h1 

        cite.Source

        h2 Ingredients

        ul.Ingredients
            li
                span.Ingredient-Measurement 
                |
                |
                span.Ingredient-Name 

        h2 Directions

        ol.Directions
            li 

        h2 Notes

        ul.Notes
            li 