extends ../_layout.pug

block title
    title Recipes | Ciabatta

block content
    article.Recipe
        h1 Ciabatta

        cite.Source Source: Paul Hollywood / Great British Baking Show

        h2 Ingredients

        ul.Ingredients
            li
                span.Ingredient-Measurement 500g
                |
                |
                span.Ingredient-Name bread flour (high gluten ideally)
            li
                span.Ingredient-Measurement 10g
                |
                |
                span.Ingredient-Name active-dry yeast
            li
                span.Ingredient-Measurement 10g
                |
                |
                span.Ingredient-Name salt
            li
                span.Ingredient-Measurement 440ml
                |
                |
                span.Ingredient-Name water

        h2 Directions

        ol.Directions
            li Put flour into mixing bowl.
            li Put yeast on one side and salt on the other.
            li Add 70-80% of the water and mix using the dough hook slowly (Kitchenaid speed 1 then 2).
            li Add remaining water as dough forms. Knead with dough hook for about 15 minutes.
            li Oil a 3 liter plastic tub (rectangle or square) and put the dough into the container.
            li Cover the dough with the tub lid or plastic wrap and let it proof until it has doubled in size. This should take 1.5 hours or so.
            li Add flour and corn meal to your work surface and gently pour the dough out of the container.
            li Cover the dough with semolina and shape it into a square. Cut the dough in half and using the cutting instrument (knife or dough scraper) fold one of the loaves over and away from the other half.
            li Add flour and semolina to a baking tray and put both loaves on the tray. Let the dough rest for 30-45 minutes. Preheat the oven to 430F convection/fan (or 460F without fan).
            li Bake the loaves for 25 minutes - check after 20.

        h2 Notes

        ul.Notes
            li You can split this recipe in half and it will work just fine. However, that is the smallest you can split this recipe and still have the mixer knead the dough properly. You could quarter this recipe but you would probably have to knead the dough by hand. It also gets trickier to measure the yeast accurately unless you have an unusually sensitive and accurate kitchen scale.
            li Be careful with the dough once it has risen. Agitating it will cause it to flatten.