extends ../_layout.pug

block title
    title Collection List

block content
    article
        h1 Collections

        ul.RecipeList
            each collection in collections
                li
                    a(href=`${root}collections/${collection.slug}.html`)= collection.label
