extends ../_layout.pug

block title
    title Tags | #{tag.label}

block content
    article.List
        h1 Recipes for tag: #{tag.label}

        if recipes
            if recipes.length > 0
                ul
                    each recipe in recipes
                        li
                            a(href='/recipes/' + recipe._id)= recipe.label
            else
                p No recipes exist for this tag.